<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.afred.suhanyu.tool.test.v2018</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>623A51F2-BF15-4517-8D03-B3C5EBF9440B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD38B42D-4503-461B-BA69-9EF637465BB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>suhanyu</string>
	<key>description</key>
	<string>新版的开发</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>百思不得解2018</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://php.net/manual/zh/function.{query}.php</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BD38B42D-4503-461B-BA69-9EF637465BB1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>bs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>please wait...</string>
				<key>script</key>
				<string>/usr/local/bin/php public/index.php {query}</string>
				<key>subtext</key>
				<string>test</string>
				<key>title</key>
				<string>查询中...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>623A51F2-BF15-4517-8D03-B3C5EBF9440B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>623A51F2-BF15-4517-8D03-B3C5EBF9440B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BD38B42D-4503-461B-BA69-9EF637465BB1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://laravel.suhanyu.top</string>
</dict>
</plist>
